# Database Configuration
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=postgres
DB_PORT=5432

# Unified Customer API Configuration
API_BASE_URL=https://hub-api-development-680576524870.europe-west3.run.app
API_VERSION=2026-04
CONSUMER_KEY=
CONSUMER_SECRET=

# Test Data Configuration
COMPANY_ID=

# Cypress Cloud
CYPRESS_RECORD_KEY=
